---
layout: pages
title: 企业资料
---
<header class="search">
	<div class="search_header search_bg_Ter_Whi">
	 <div class="search_header_box">
		<div class="search_left"><a href="index.html"><i class="fa fa-angle-left fa-lg"></i></a></div>
		<div class="search_center"><a href="javascript:"> 企业资料 </a></div>
		<div class="search_right"><a href="javascript:;"></a></div>
	 </div>
	</div>
</header>
<div class="qyEntManCen">

		<!-- 第一步 创建企业资料 -->
		{% include modules/qyCorInfAdd/mod_pos1.html %}
		
		<!-- 第二步 创建企业联系  -->
		{% include modules/qyCorInfAdd/mod_pos2.html %}

		<!-- 第三步 创建企业福利 -->
		{% include modules/qyCorInfAdd/mod_pos3.html %}

</div>