---
layout: default
title: 身份选择
---
<body class="jobBg">
	<div class="status">
		<div>
			<div class="sta_tit text-center pb-3">
				<h4>请选择您的需要</h4>
				<small>机会不会主动找到你，必须亮出你自己</small>
			</div>
			<a href="home.html" class="sta_tit_box job">
				<img src="static/images/findJob.png" alt="去找工作">
				<p class="btn btn-secondary d-block pt-1 pb-1">去找工作</p>
			</a>
			<a href="pages/index.html" class="sta_tit_box pos mt-4">
				<img src="static/images/findPro.png" alt="去发布职位">
				<p class="btn btn-secondary d-block pt-1 pb-1">去发布职位</p>
			</a>
		</div>
	</div>
</body>